h2,
h3 {
  margin: 0;
  line-height: 1.5;
}

.btn:hover {
  color: $success;
}

.list-group-item {
  padding: 12px;
  border: 1px solid $gray-400;
  &.active {
    background-color: $gray-100;
    color: $dark;
    border-color: $gray-400;
  }
  &:hover {
    background-color: $gray-100;
  }
}
