.nav {
  position: fixed;
  min-width: 296px;
  min-height: 100vh;
  &-link {
    padding: 12px 0;
    position: relative;
    color: #000;
    &:hover {
      color: $success;
      background: $gray-200;
    }
    &:hover::before {
      content: '';
      position: absolute;
      left: 0;
      width: 4px;
      height: 32px;
      border-left: 4px solid $success;
      top: 50%;
      transform: translateY(-50%);
    }
    &.active::before {
      content: '';
      position: absolute;
      left: 0;
      width: 4px;
      height: 32px;
      border-left: 4px solid $success;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
